/* LoginSignup.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../assets/images/backie.jpg') ;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-form-container {
  background: rgba(255, 255, 255, 0.7); /* Slightly opaque background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Blurred background effect */
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  margin-bottom: 15px;
}

.input-field label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.password-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-label {
  font-size: 14px;
  margin-bottom: 5px;
  align-self: flex-start;
}

.password-input-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: calc(100% - 30px); /* Adjust for the eye icon space */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.proceed-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.proceed-btn:hover {
  background-color: #0056b3;
}
